{% extends "base.html" %}
{% block content %}
<script>
  function $(q) { return document.querySelector(q) }
  function patch(url, body) {
    return fetch(url, {
      headers: { 'Content-Type': 'application/json' },
      method: 'PATCH',
      body,
    })
  }

  storedId = null
  storedFilePath = null
  function openDialog(id, title, filePath) {
    storedId = id
    storedFilePath = filePath
    $('#title').textContent = `${id} ${title}`
    $('#operation').showModal()
  }

  function move() {
    return patch(`/api/recordings/${storedId}`, JSON.stringify({ file_folder: "{{ dst_root }}" }))
  }
  function setWatched() {
    return patch(`/api/recordings/${storedId}`, JSON.stringify({ watched_at: new Date().toISOString() }))
  }
  function setWatchedAndMove() {
    return patch(`/api/recordings/${storedId}`, JSON.stringify({ watched_at: new Date().toISOString(), file_folder: "{{ dst_root }}" }))
  }
  function del() {
    return patch(`/api/recordings/${storedId}`, JSON.stringify({ deleted_at: new Date().toISOString() }))
  }
  function setWatchedAndDelete() {
    return patch(`/api/recordings/${storedId}`, JSON.stringify({ watched_at: new Date().toISOString(), deleted_at: new Date().toISOString() }))
  }
</script>

<a href="/programs">Programs</a>
<a href="/recordings">Recordings</a>
<a href="/views">Views</a>

<h1>Digestions</h1>
<table>
{% for item in agg %}
    <tr><td><marker-plot
      min="{{ item.start_time }}"
      max="{{ item.start_time + item.duration }}"
      data="{{ item.views or '[]' }}"
      width="{{ 5 * 60 * 2 }}">
    </marker-plot></td>
    <td>
    {% for rec_id, watched, file_path in rec_zip(item.id) %}
      <button onclick='openDialog({{ rec_id }}, {{ item.name | tojson | safe }}, {{ file_path | tojson | safe }})'>{{ watched }}</button>
    {% endfor %}
    </td>
    <td>{{ item.start_time_string.strftime("%Y/%m/%d(%a) %H:%M") }}</td><td>{{ item.name }}</td>
{% endfor %}
</table>

<dialog id="operation" closedby="any">
  <h2 id="title"></h2>
  <nav>
    <button onclick="play(storedFilePath)">再生</button>
  </nav>
  <button onclick="move().then(() => $('#operation').close())">移動</button>
  <button onclick="setWatchedAndMove().then(() => $('#operation').close())">移動＋視聴済み</button>
  <button onclick="setWatched().then(() => $('#operation').close())">視聴済み</button>
  <button onclick="confirm() && del().then(() => $('#operation').close())">削除</button>
  <button onclick="confirm() && setWatchedAndDelete().then(() => $('#operation').close())">視聴済み＋削除</button>
</dialog>
{% endblock %}
