{% extends "base.html" %}
{% block content %}
<script>
  'use strict'
  function $(q) { return document.querySelector(q) }
  function patch(id, body) {
    return fetch(`/api/recordings/${id}`, {
      headers: { 'Content-Type': 'application/json' },
      method: 'PATCH',
      body: JSON.stringify(body),
    })
  }

  async function openDialog(id) {
    const op = $('#op')
    for (const s of op.querySelectorAll('section')) op.removeChild(s)
    const rs = await(await fetch(`/api/recordings?program_id=${id}`)).json()
    $('#name').textContent = rs[0].program.name

    for (const r of rs) {
      const c = $('#recordings-template').content.cloneNode(true)
      const $c = (q) => c.querySelector(q)
      $c('.recording-id').textContent = r.id
      $c('.file-path').value = r.file_path
      $c('.file-folder').value = r.file_folder
      $c('.play').onclick = () => play(r.file_path)
      $('#op').appendChild(c)
    }
    $('#op').showModal()
  }
  function searchId(e) { return e.closest('dl').querySelector('.recording-id').textContent }
  function searchFileFolder(e) { return e.closest('dl').querySelector('.file-folder').value }

  function patchFileFolder(e) { patch(searchId(e), { file_folder: searchFileFolder(e) }).then(() => location.reload()) }
  function patchWatched(e) { patch(searchId(e), { watched_at: new Date().toISOString() }).then(() => location.reload()) }
  function patchWatchedAndFileFolder(e) {
    patch(searchId(e), { watched_at: new Date().toISOString(), file_folder: searchFileFolder(e) }).then(() => location.reload())
  }
  function patchDeleted(e) { patch(searchId(e), { deleted_at: new Date().toISOString() }).then(() => location.reload()) }
  function patchWatchedAndDeleted(e) {
    patch(searchId(e), { watched_at: new Date().toISOString(), deleted_at: new Date().toISOString() }).then(() => location.reload())
  }
</script>

<h1>Digestions</h1>
<table>
  <thead>
    <tr>
      <td>marker-plot
      <td>op
      <td>minutes
      <td>name
      <td>time
{% for d in digestions %}
  <tbody>
    <tr>
      <td><marker-plot
        min="{{ d.start_time_timestamp }}"
        max="{{ d.end_time_timestamp }}"
        data="{{ d.viewed_times_timestamp }}"
        width="{{ 5 * 60 * 2 }}">
      </marker-plot>
      <td><button onclick='openDialog({{ d.id }})'>⋮</button>
      <td>{{ d.duration // 60 }}
      <td>{{ d.name }}
      <td>{{ d.start_time.strftime("%Y/%m/%d(%a) %H:%M") }}
{% endfor %}
</table>

<dialog id="op" closedby="any">
  <h2 id="name"></h2>

  <template id="recordings-template">
    <section>
      <dl>
        <dt>recording_id
        <dd class="recording-id">
        <dt>file_path
        <dd>
          <input class="file-path" type="text" readonly>
          <button class="play">再生</button>
        <dt>file_folder
        <dd>
          <input class="file-folder" type="text" list="roots">
          <button onclick="patchFileFolder(this)">移動</button>
          <button onclick="patchWatchedAndFileFolder(this)">移動＋視聴済み</button>
        <dt>op
        <dd>
          <button onclick="patchWatched(this)">視聴済み</button>
          <button onclick="confirm() && patchDeleted(this)">削除</button>
          <button onclick="confirm() && patchWatchedAndDeleted(this)">視聴済み＋削除</button>
      </dl>
    </section>
  </template>

  <datalist id="roots">
    <option value="{{ dst_root }}">
  </datalist>
</dialog>
{% endblock %}
