{% extends "base.html" %}
{% block content %}
<script>
  function $(q) { return document.querySelector(q) }
  function patch(body) {
    return fetch(`/api/recordings/${$('#recording-id').textContent}`, {
      headers: { 'Content-Type': 'application/json' },
      method: 'PATCH',
      body: JSON.stringify(body),
    })
  }

  async function openDialog(id) {
    $('#recording-id').textContent = id
    const r = await fetch(`/api/recordings/${id}`).then(r => r.json())
    $('#name').textContent = r.program.name
    $('#file-path').textContent = r.file_path
    $('#operation').showModal()
  }

  function patchFileFolder() { patch({ file_folder: "{{ dst_root }}" }).then(() => location.reload()) }
  function patchWatched() { patch({ watched_at: new Date().toISOString() }).then(() => location.reload()) }
  function patchWatchedAndFileFolder() {
    patch({ watched_at: new Date().toISOString(), file_folder: "{{ dst_root }}" }).then(() => location.reload())
  }
  function patchDeleled() { patch({ deleted_at: new Date().toISOString() }).then(() => location.reload()) }
  function patchWatchedAndDeleted() {
    patch({ watched_at: new Date().toISOString(), deleted_at: new Date().toISOString() }).then(() => location.reload())
  }
</script>

<a href="/programs">Programs</a>
<a href="/recordings">Recordings</a>
<a href="/views">Views</a>

<h1>Digestions</h1>
<table>
{% for item in agg %}
    <tr><td><marker-plot
      min="{{ item.start_time }}"
      max="{{ item.start_time + item.duration }}"
      data="{{ item.views or '[]' }}"
      width="{{ 5 * 60 * 2 }}">
    </marker-plot></td>
    <td>
    {% for rec_id, watched, file_path in rec_zip(item.id) %}
      <button onclick='openDialog({{ rec_id }}, {{ item.name | tojson | safe }}, {{ file_path | tojson | safe }})'>{{ watched }}</button>
    {% endfor %}
    </td>
    <td>{{ item.start_time_string.strftime("%Y/%m/%d(%a) %H:%M") }}</td><td>{{ item.name }}</td>
{% endfor %}
</table>

<dialog id="operation" closedby="any">
  <h2 id="name"></h2>
  <dl>
    <dt>recording_id</dt><dd id="recording-id"></dd>
    <dt>file_path</dt><dd id="file-path"></dd>
  </dl>
  <nav>
    <button onclick="play($('#file-path').textContent)">再生</button>
  </nav>
  <button onclick="patchFileFolder()">移動</button>
  <button onclick="patchWatchedAndFileFolder()">移動＋視聴済み</button>
  <button onclick="patchWatched()">視聴済み</button>
  <button onclick="confirm() && patchDeleted()">削除</button>
  <button onclick="confirm() && patchWatchedAndDeleted()">視聴済み＋削除</button>
</dialog>
{% endblock %}
