<!DOCTYPE html>
<html lang="ja">
<script src="{{ url_for('static', path='marker-plot.js') }}"></script>

<h1>Programs</h1>

<table>
  <thead>
    <tr>
      <td>marker-plot</td>
      <td>id</td><td>name</td><td>service_id</td><td>start_time_str</td><td>end_time_str</td><td>created_at</td>
    </tr>
  </thead>
  <tbody>
  {% for item in programs %}
    <tr>
      <td><marker-plot
        min="{{ item.start_time }}"
        max="{{ item.start_time + item.duration }}"
        data="{{ item.views or '[]' }}"
        width="{{ 60 * 5 * 2 }}"></marker-plot></td>
      <td><a href="/api/programs/{{ item.id }}">{{ item.id }}</td><td>{{ item.name }}</td><td>{{ item.service_id }}</td><td>{{ item.start_time_str }}</td><td>{{ item.end_time_str }}</td><td>{{ item.created_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</html>
