{% extends "base.html" %}
{% block content %}
<h1>Programs</h1>

<table>
  <thead>
    <tr>
      <td>marker-plot</td>
      <td>id</td><td>name</td><td>service_id</td><td>time</td>
    </tr>
  </thead>
  <tbody>
  {% for item in programs %}
    <tr>
      <td><marker-plot
        min="{{ item.start_time }}"
        max="{{ item.start_time + item.duration }}"
        data="{{ item.views or '[]' }}"
        width="{{ 60 * 5 * 2 }}"></marker-plot></td>
      <td><a href="{{ url_for('get_program', id=item.id) }}">{{ item.id }}</td><td>{{ item.name }}</td><td>{{ item.service_id }}</td><td>{{ item.start_time_str.strftime("%Y/%m/%d(%a) %H:%M") }}-{{ item.end_time_str.strftime("%H:%M") }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
