{% extends "base.html" %}
{% block content %}
<h1>Recordings</h1>

<table>
  <thead>
    <tr>
      <td>id</td>
      <td>program_id</td>
      <td>name</td><td>watched</td><td>deleted</td>
    </tr>
  </thead>
  <tbody>
  {% for item in recordings %}
    <tr>
      <td><a href="{{ url_for('get_recording', id=item.id) }}">{{ item.id }}</td>
      <td><a href="{{ url_for('get_program', id=item.program_id) }}">{{ item.program_id }}</td>
      <td>{{ item.name }}</td><td>{{ '1' if item.watched_at }}</td><td>{{ '1' if item.deleted_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
