{% extends "base.html" %}
{% block content %}
<h1>Views</h1>

<table>
  <thead>
    <tr>
      <th>program_id
      <th>viewed_time
      <th>created_at
  <tbody>
  {% for item in views %}
    <tr>
      <td><a href="{{ url_for('get_program', id=item.program_id) }}">{{ item.program_id }}</a>
      <td>{{ item.viewed_time.strftime("%Y/%m/%d(%a) %H:%M:%S") }}
      <td>{{ item.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S") }}
  {% endfor %}
</table>

<form>
  <input type="hidden" name="page" value="{{ params.page + 1 }}">
  <button type="submit">次</button>
</form>

{% endblock %}
